Repository intel/ai-containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylertitsworth, @sharvil10, @jitendra42, @sramakintel, @ma-pineda, @jafraustro, @dmsuehir

.github/CODEOWNERS:

/.github/        @tylertitsworth @sharvil10 @jitendra42
/classical-ml/   @tylertitsworth @jitendra42 @sramakintel @sharvil10
/docs/           @tylertitsworth @jitendra42
/enterprise/     @sharvil10
/preset/         @ma-pineda @jafraustro
/pytorch/        @tylertitsworth @jitendra42 @sramakintel @sharvil10
/tensorflow/     @tylertitsworth @jitendra42 @sramakintel @sharvil10
/test-runner/    @tylertitsworth
/workflows/      @tylertitsworth @dmsuehir

use coveralls in CI
  .github/workflows/test-runner-ci.yaml
  .gitignore
  test-runner/dev-requirements.txt
  tox.ini
Owners: @tylertitsworth, @sharvil10, @jitendra42

checkout on pr
  .github/workflows/test-runner-ci.yaml
Owners: @tylertitsworth, @sharvil10, @jitendra42

trigger on push
  .github/workflows/test-runner-ci.yaml
Owners: @tylertitsworth, @sharvil10, @jitendra42

update tokens
  .github/workflows/container-ci.yaml
  .github/workflows/lint.yaml
  .github/workflows/test-runner-ci.yaml
  .github/workflows/weekly-test.yaml
Owners: @tylertitsworth, @sharvil10, @jitendra42

trigger
  python/docker-compose.yaml
Owners: none

trigger
  python/docker-compose.yaml
Owners: none

rm usedevelop
  tox.ini
Owners: none

install coveralls in matrix utest
  .github/workflows/test-runner-ci.yaml
Owners: @tylertitsworth, @sharvil10, @jitendra42

use user pat
  .github/workflows/test-runner-ci.yaml
Owners: @tylertitsworth, @sharvil10, @jitendra42

[skip ci] Update tox.ini
  tox.ini
Owners: none

[skip ci] Update README.md
  test-runner/README.md
Owners: @tylertitsworth

Changes per PR review
  pytorch/docker-compose.yaml
  pytorch/hf-genai-requirements.txt
Owners: @tylertitsworth, @jitendra42, @sramakintel, @sharvil10
