Repository intel/ai-containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jitendra42, @sharvil10, @sramakintel, @jafraustro

locally test idp and bump versions
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/multinode/requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

debug and reslove mpi4py error in pip
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/multinode/requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

add multinode support for pip
  pytorch/Dockerfile
  pytorch/multinode/dockerd-entrypoint.sh
Owners: @jitendra42, @sramakintel, @sharvil10

resolve lint error and add multinode support back
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

add no-install-recommends
  pytorch/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

Add tests description
  preset/README.md
  preset/deep-learning/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning/tests/intel_extension_for_tensorflow/test_itex.py
Owners: @jafraustro

add pip and idp specifics
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update ipex xpu toolchain
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update torchserve cpu
  pytorch/serving/torchserve-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

Update IPEX CPU toolchain to 2.5.0 version (#510)
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/torchserve-requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

fixed build issues
  classical-ml/jupyter-requirements.txt
  classical-ml/requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

Fix classical-ml dependabot build issues (#515)
  classical-ml/jupyter-requirements.txt
  classical-ml/requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

add blank line
  preset/README.md
Owners: @jafraustro

rm blank line
  preset/README.md
Owners: @jafraustro

adding trivy db cache
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

update cache action to latest
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

debug
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

upd dependencies
  preset/deep-learning/Dockerfile
  preset/inference-optimization/Dockerfile
Owners: @jafraustro

update the cache key
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

add 'setuptools>=70.0.0'
  preset/deep-learning/Dockerfile
Owners: @jafraustro

upd dependencies in dockerfiles
  preset/deep-learning/Dockerfile
  preset/deep-learning/docker-compose.yaml
  preset/inference-optimization/docker-compose.yaml
Owners: @jafraustro

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

rm setuptools pin from pytorch gpu env
  preset/deep-learning/Dockerfile
Owners: @jafraustro

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

added different trivy db repo urls
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Changed trivy repo download urls to address rate limit issue (#517)
  .github/workflows/container-ci.yaml
Owners: @sharvil10, @jitendra42, @sramakintel

Add tests description (#509)
  preset/README.md
  preset/deep-learning/Dockerfile
  preset/deep-learning/docker-compose.yaml
  preset/deep-learning/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning/tests/intel_extension_for_tensorflow/test_itex.py
  preset/inference-optimization/Dockerfile
  preset/inference-optimization/docker-compose.yaml
Owners: @jafraustro

Upd conda dependencies to avoid CVES. add pip dependencies using requirements.txt files
  preset/classical-ml/Dockerfile
  preset/classical-ml/jupyter_requirements.txt
  preset/data-analytics/Dockerfile
  preset/data-analytics/jupyter_requirements.txt
  preset/deep-learning/Dockerfile
  preset/deep-learning/docker-compose.yaml
  preset/deep-learning/jupyter_requirements.txt
  preset/deep-learning/venv_requirements.txt
  preset/inference-optimization/Dockerfile
  preset/inference-optimization/docker-compose.yaml
  preset/inference-optimization/tests.yaml
Owners: @jafraustro

add onnx-rt from conda, add empty line, rm unnecessary file.
  preset/classical-ml/requirements.txt
  preset/inference-optimization/Dockerfile
  preset/inference-optimization/requirements.txt
Owners: @jafraustro

fix dependencies in requirements file for pytorch envs
  preset/deep-learning/requirements.txt
  preset/inference-optimization/requirements.txt
Owners: @jafraustro

fix typo
  preset/inference-optimization/Dockerfile
Owners: @jafraustro

rm empy lines
  preset/inference-optimization/Dockerfile
Owners: @jafraustro

fix typo
  preset/deep-learning/Dockerfile
Owners: @jafraustro

add ray-core pin
  preset/classical-ml/Dockerfile
Owners: @jafraustro

add ray core pin
  preset/data-analytics/Dockerfile
Owners: @jafraustro

UPD Readme with new set of presets
  preset/README.md
Owners: @jafraustro

.github/CODEOWNERS:

*                @jitendra42 @sharvil10
/.github/        @sharvil10 @jitendra42 @sramakintel
/apptainer/      @sramakintel
/classical-ml/   @jitendra42 @sramakintel @sharvil10
/docs/           @jitendra42
/enterprise/     @sharvil10
/preset/         @jafraustro
/python/         @jitendra42 @sramakintel @sharvil10
/pytorch/        @jitendra42 @sramakintel @sharvil10
/tensorflow/     @jitendra42 @sramakintel @sharvil10
/test-runner/    @jitendra42
/workflows/      @sharvil10
