Repository intel/ai-containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jitendra42, @sharvil10, @sramakintel, @jafraustro

.github/CODEOWNERS:

*                @jitendra42 @sharvil10
/.github/        @sharvil10 @jitendra42 @sramakintel
/apptainer/      @sramakintel
/classical-ml/   @jitendra42 @sramakintel @sharvil10
/docs/           @jitendra42
/enterprise/     @sharvil10
/preset/         @jafraustro
/python/         @jitendra42 @sramakintel @sharvil10
/pytorch/        @jitendra42 @sramakintel @sharvil10
/tensorflow/     @jitendra42 @sramakintel @sharvil10
/test-runner/    @jitendra42
/workflows/      @sharvil10

UPD preset container machine learning v2025.0.0
  preset/README.md
  preset/classical-ml/.actions.json
  preset/classical-ml/Dockerfile
  preset/classical-ml/docker-compose.yaml
  preset/classical-ml/requirements.txt
  preset/classical-ml/tests.yaml
  preset/classical-ml/tests/scikit/kmeans.py
  preset/licensing/tpp_classical-ml-py3.10.txt
  preset/licensing/tpp_classical-ml.txt
Owners: @jafraustro

ADD preset container for jax cpu v2025.0.0
  preset/classical-ml/docker-compose.yaml
  preset/data-analytics/.actions.json
  preset/data-analytics/Dockerfile
  preset/data-analytics/docker-compose.yaml
  preset/data-analytics/notebooks/Data_Analytics_Samples_Overview.ipynb
  preset/data-analytics/notebooks/modin/IntelModin_Vs_Pandas.ipynb
  preset/data-analytics/requirements.txt
  preset/data-analytics/tests.yaml
  preset/data-analytics/tests/modin/modin_quickstart.py
  preset/data-analytics/tests/modin/test_modin.sh
  preset/deep-learning-jax-cpu/.actions.json
  preset/deep-learning-jax-cpu/Dockerfile
  preset/deep-learning-jax-cpu/docker-compose.yaml
  preset/deep-learning-jax-cpu/requirements.txt
  preset/deep-learning-jax-cpu/tests/example.py
  preset/deep-learning-jax-cpu/tests/tests.yaml
  preset/licensing/tpp_classical-ml.txt
  preset/licensing/tpp_data-analytics-py3.10.txt
  preset/licensing/tpp_data-analytics-py3.9.txt
Owners: @jafraustro

fix linter errors
  preset/README.md
  preset/deep-learning-jax-cpu/Dockerfile
Owners: @jafraustro

upd how kernel is named
  preset/deep-learning-jax-cpu/Dockerfile
Owners: @jafraustro

rm data-analytics from docs, add deep-learning-jax-cpu to docs
  docs/matrix.md
  docs/scripts/hook.py
  preset/README.md
Owners: @jitendra42, @jafraustro

rm data-analytics from docs, add deep-learning-jax-cpu to docs
  docs/matrix.md
  docs/scripts/hook.py
  preset/README.md
Owners: @jitendra42, @jafraustro

add scikit learn pin
  preset/classical-ml/Dockerfile
Owners: @jafraustro

UPD preset container machine learning v2025.0.0
  preset/README.md
  preset/classical-ml/.actions.json
  preset/classical-ml/Dockerfile
  preset/classical-ml/docker-compose.yaml
  preset/classical-ml/requirements.txt
  preset/classical-ml/tests.yaml
  preset/classical-ml/tests/scikit/kmeans.py
  preset/licensing/tpp_classical-ml-py3.10.txt
  preset/licensing/tpp_classical-ml.txt
Owners: @jafraustro

upd how kernel is named
  preset/deep-learning-jax-cpu/Dockerfile
Owners: @jafraustro

UPD Readme with new set of presets
  preset/README.md
Owners: @jafraustro

ADD preset container for jax cpu v2025.0.0
  preset/classical-ml/docker-compose.yaml
  preset/data-analytics/.actions.json
  preset/data-analytics/Dockerfile
  preset/data-analytics/docker-compose.yaml
  preset/data-analytics/notebooks/Data_Analytics_Samples_Overview.ipynb
  preset/data-analytics/notebooks/modin/IntelModin_Vs_Pandas.ipynb
  preset/data-analytics/requirements.txt
  preset/data-analytics/tests.yaml
  preset/data-analytics/tests/modin/modin_quickstart.py
  preset/data-analytics/tests/modin/test_modin.sh
  preset/deep-learning-jax-cpu/.actions.json
  preset/deep-learning-jax-cpu/Dockerfile
  preset/deep-learning-jax-cpu/docker-compose.yaml
  preset/deep-learning-jax-cpu/requirements.txt
  preset/deep-learning-jax-cpu/tests/example.py
  preset/deep-learning-jax-cpu/tests/tests.yaml
  preset/licensing/tpp_classical-ml.txt
  preset/licensing/tpp_data-analytics-py3.10.txt
  preset/licensing/tpp_data-analytics-py3.9.txt
Owners: @jafraustro

copy samples tests inside container
  preset/deep-learning-jax-cpu/Dockerfile
  preset/deep-learning-jax-cpu/tests.yaml
Owners: @jafraustro

fix linter errors
  preset/README.md
  preset/deep-learning-jax-cpu/Dockerfile
Owners: @jafraustro

ADD preset deep-learning-tensorflow-cpu
  preset/deep-learning-tensorflow-cpu/.actions.json
  preset/deep-learning-tensorflow-cpu/Dockerfile
  preset/deep-learning-tensorflow-cpu/docker-compose.yaml
  preset/deep-learning-tensorflow-cpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/alexnet.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/inc_quantize_model.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/inc_sample_tensorflow.ipynb
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/mnist_dataset.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/profiling_inc.py
  preset/deep-learning-tensorflow-cpu/requirements.txt
  preset/deep-learning-tensorflow-cpu/tests.yaml
  preset/deep-learning-tensorflow-cpu/tests/intel_extension_for_tensorflow/test_itex.py
  preset/deep-learning-tensorflow-cpu/tests/neural_compressor/run.sh
  preset/deep-learning-tensorflow-cpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-tensorflow-cpu/tests/onnx/run.sh
  preset/deep-learning-tensorflow-cpu/tests/onnx/test_onnx.py
Owners: @jafraustro

ADD preset tensorflow-gpu v2025.0.0
  preset/deep-learning-tensorflow-cpu/docker-compose.yaml
  preset/deep-learning-tensorflow-gpu/.actions.json
  preset/deep-learning-tensorflow-gpu/Dockerfile
  preset/deep-learning-tensorflow-gpu/demo/tensorflow-distributed/README.md
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
  preset/deep-learning-tensorflow-gpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/alexnet.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/inc_quantize_model.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/inc_sample_tensorflow.ipynb
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/mnist_dataset.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/profiling_inc.py
  preset/deep-learning-tensorflow-gpu/requirements.txt
  preset/deep-learning-tensorflow-gpu/tests.yaml
  preset/deep-learning-tensorflow-gpu/tests/intel_extension_for_tensorflow/test_itex.py
Owners: @jafraustro

add user to tests.yml
  preset/deep-learning-tensorflow-gpu/tests.yaml
Owners: @jafraustro

upd tests for tensorflow preset
  preset/deep-learning-tensorflow-gpu/demo/tensorflow-distributed/README.md
  preset/deep-learning-tensorflow-gpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/alexnet.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/inc_quantize_model.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/inc_sample_tensorflow.ipynb
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/mnist_dataset.py
  preset/deep-learning-tensorflow-gpu/notebooks/inc-itex/profiling_inc.py
  preset/deep-learning-tensorflow-gpu/tests.yaml
  preset/deep-learning-tensorflow-gpu/tests/neural_compressor/run.sh
  preset/deep-learning-tensorflow-gpu/tests/neural_compressor/test_inc.py
Owners: @jafraustro

upd docs with new Tensorflow presets
  docs/matrix.md
  docs/scripts/hook.py
Owners: @jitendra42

fix typo
  docs/scripts/hook.py
Owners: @jitendra42

rm spaces
  docs/scripts/hook.py
Owners: @jitendra42

typo
  docs/matrix.md
Owners: @jitendra42

add "runner_label"
  preset/deep-learning-tensorflow-cpu/.actions.json
  preset/deep-learning-tensorflow-gpu/.actions.json
Owners: @jafraustro

add pytorch presets
  docs/matrix.md
  docs/scripts/hook.py
  preset/deep-learning-pytorch-cpu/.actions.json
  preset/deep-learning-pytorch-cpu/Dockerfile
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-cpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex-quantization/IntelPytorch_Quantization.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex/ResNet50_Inference.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex/codes_for_ipynb/gpu.patch
  preset/deep-learning-pytorch-cpu/notebooks/ipex/codes_for_py/gpu.patch
  preset/deep-learning-pytorch-cpu/requirements.txt
  preset/deep-learning-pytorch-cpu/tests.yaml
  preset/deep-learning-pytorch-cpu/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning-pytorch-cpu/tests/neural_compressor/run.sh
  preset/deep-learning-pytorch-cpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-pytorch-cpu/venv_requirements.txt
  preset/deep-learning-pytorch-gpu/.actions.json
  preset/deep-learning-pytorch-gpu/Dockerfile
  preset/deep-learning-pytorch-gpu/demo/pytorch-distributed/README.md
  preset/deep-learning-pytorch-gpu/demo/pytorch-distributed/pytorch_mnist.py
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex-inference/IntelPyTorch_GPU_InferenceOptimization_with_AMP.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex/ResNet50_Inference.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex/codes_for_ipynb/gpu.patch
  preset/deep-learning-pytorch-gpu/notebooks/ipex/codes_for_py/gpu.patch
  preset/deep-learning-pytorch-gpu/requirements.txt
  preset/deep-learning-pytorch-gpu/tests.yaml
  preset/deep-learning-pytorch-gpu/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning-pytorch-gpu/tests/neural_compressor/run.sh
  preset/deep-learning-pytorch-gpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-pytorch-gpu/venv_requirements.txt
Owners: @jitendra42, @jafraustro

use mkl patch
  preset/classical-ml/Dockerfile
  preset/classical-ml/docker-compose.yaml
Owners: @jafraustro

comment COPY action
  preset/deep-learning-tensorflow-gpu/Dockerfile
Owners: @jafraustro

fix image name
  preset/deep-learning-tensorflow-gpu/tests.yaml
Owners: @jafraustro

fix image name
  preset/deep-learning-pytorch-cpu/tests.yaml
  preset/deep-learning-pytorch-gpu/tests.yaml
Owners: @jafraustro

upd mkl and idp version in jax-cpu
  preset/deep-learning-jax-cpu/Dockerfile
  preset/deep-learning-jax-cpu/docker-compose.yaml
Owners: @jafraustro

fix image name
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
Owners: @jafraustro

fix typo
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
Owners: @jafraustro

fix image name
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
Owners: @jafraustro

fix typo
  preset/deep-learning-pytorch-gpu/tests.yaml
Owners: @jafraustro

fix typo
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
Owners: @jafraustro

upd tests.yaml
  preset/deep-learning-pytorch-gpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex-inference/IntelPyTorch_GPU_InferenceOptimization_with_AMP.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex-quantization/IntelPytorch_Quantization.ipynb
  preset/deep-learning-pytorch-gpu/tests.yaml
Owners: @jafraustro

Update env name
  preset/deep-learning-tensorflow-gpu/demo/tensorflow-distributed/README.md
Owners: @jafraustro

upd command in README's DEMO folder
  preset/deep-learning-pytorch-gpu/demo/pytorch-distributed/README.md
  preset/deep-learning-pytorch-gpu/tests.yaml
Owners: @jafraustro

fix name
  docs/scripts/hook.py
Owners: @jitendra42

fix typo
  docs/matrix.md
  docs/scripts/hook.py
Owners: @jitendra42

fix typo
  docs/matrix.md
Owners: @jitendra42

Preset containers v2025.0.0: ADD Deep Learning Tensorflow* CPU and GPU (#564)
  docs/matrix.md
  docs/scripts/hook.py
  preset/deep-learning-tensorflow-cpu/.actions.json
  preset/deep-learning-tensorflow-cpu/Dockerfile
  preset/deep-learning-tensorflow-cpu/docker-compose.yaml
  preset/deep-learning-tensorflow-cpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/alexnet.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/inc_quantize_model.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/inc_sample_tensorflow.ipynb
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/mnist_dataset.py
  preset/deep-learning-tensorflow-cpu/notebooks/inc-itex/profiling_inc.py
  preset/deep-learning-tensorflow-cpu/requirements.txt
  preset/deep-learning-tensorflow-cpu/tests.yaml
  preset/deep-learning-tensorflow-cpu/tests/intel_extension_for_tensorflow/test_itex.py
  preset/deep-learning-tensorflow-cpu/tests/neural_compressor/run.sh
  preset/deep-learning-tensorflow-cpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-tensorflow-cpu/tests/onnx/run.sh
  preset/deep-learning-tensorflow-cpu/tests/onnx/test_onnx.py
  preset/deep-learning-tensorflow-gpu/.actions.json
  preset/deep-learning-tensorflow-gpu/Dockerfile
  preset/deep-learning-tensorflow-gpu/demo/tensorflow-distributed/README.md
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
  preset/deep-learning-tensorflow-gpu/requirements.txt
  preset/deep-learning-tensorflow-gpu/tests.yaml
  preset/deep-learning-tensorflow-gpu/tests/intel_extension_for_tensorflow/test_itex.py
  preset/deep-learning-tensorflow-gpu/tests/neural_compressor/run.sh
  preset/deep-learning-tensorflow-gpu/tests/neural_compressor/test_inc.py
Owners: @jitendra42, @jafraustro
