Repository intel/ai-containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jitendra42, @sharvil10, @sramakintel, @jafraustro

.github/CODEOWNERS:

*                @jitendra42 @sharvil10
/.github/        @sharvil10 @jitendra42 @sramakintel
/apptainer/      @sramakintel
/classical-ml/   @jitendra42 @sramakintel @sharvil10
/docs/           @jitendra42
/enterprise/     @sharvil10
/preset/         @jafraustro
/python/         @jitendra42 @sramakintel @sharvil10
/pytorch/        @jitendra42 @sramakintel @sharvil10
/tensorflow/     @jitendra42 @sramakintel @sharvil10
/test-runner/    @jitendra42
/workflows/      @sharvil10

Update ITEX XPU docker images (#581)
  tensorflow/Dockerfile
  tensorflow/README.md
  tensorflow/docker-compose.yaml
  tensorflow/tests/tests.yaml
  tensorflow/xpu-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

update jupyterlab versions
  jax/jupyter-requirements.txt
Owners: @jitendra42, @sharvil10

update jupyterlab versions (#586)
  jax/jupyter-requirements.txt
Owners: @jitendra42, @sharvil10

update crd sample and README with 1.19.0 tags
  enterprise/redhat/openshift-ai/gaudi/README.md
  enterprise/redhat/openshift-ai/gaudi/crd-sample.yaml
Owners: @sharvil10

1.19.0 update
  enterprise/redhat/openshift-ai/gaudi/README.md
  enterprise/redhat/openshift-ai/gaudi/crd-sample.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.2
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.4
  enterprise/redhat/openshift-ai/gaudi/docker/docker-compose.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/install-python310.sh
  enterprise/redhat/openshift-ai/gaudi/docker/install_packages.sh
  enterprise/redhat/openshift-ai/gaudi/docker/requirements.txt
Owners: @sharvil10

shell format fixed
  enterprise/redhat/openshift-ai/gaudi/docker/install-python310.sh
Owners: @sharvil10

Update workflows/charts/torchserve/README.md
  workflows/charts/torchserve/README.md
Owners: @sharvil10

add changes to new PR
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/templates/deploy.yaml
  workflows/charts/torchserve/values.yaml
Owners: @sharvil10

update hostname
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/values.yaml
Owners: @sharvil10

get xpu-smi working in k8s
  workflows/charts/torchserve/templates/deploy.yaml
  workflows/charts/torchserve/values.yaml
Owners: @sharvil10

TorchServe XPU chart (#597)
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/templates/deploy.yaml
  workflows/charts/torchserve/values.yaml
Owners: @sharvil10

fix image name
  workflows/charts/torchserve/README.md
Owners: @sharvil10

fix image name (#598)
  workflows/charts/torchserve/README.md
Owners: @sharvil10

Parametrize test file used by test runner
  test-runner/README.md
  test-runner/action.yml
Owners: @jitendra42

Parametrize test file for test runner (#599)
  test-runner/README.md
  test-runner/action.yml
Owners: @jitendra42

Gaudi RHOAI notebook image 1.19.0 update (#589)
  enterprise/redhat/openshift-ai/gaudi/README.md
  enterprise/redhat/openshift-ai/gaudi/crd-sample.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.2
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.4
  enterprise/redhat/openshift-ai/gaudi/docker/docker-compose.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/install-python310.sh
  enterprise/redhat/openshift-ai/gaudi/docker/install_packages.sh
  enterprise/redhat/openshift-ai/gaudi/docker/requirements.txt
Owners: @sharvil10

oneAPI 2025.0.0 RHOAI Dockerfiles added
  enterprise/redhat/openshift-ai/oneapi/docker/.actions.json
  enterprise/redhat/openshift-ai/oneapi/docker/builder/run
  enterprise/redhat/openshift-ai/oneapi/docker/classical-ml.Dockerfile
  enterprise/redhat/openshift-ai/oneapi/docker/docker-compose.yaml
  enterprise/redhat/openshift-ai/oneapi/docker/ml-requirements.txt
  enterprise/redhat/openshift-ai/oneapi/docker/pytorch-cpu.Dockerfile
  enterprise/redhat/openshift-ai/oneapi/docker/pytorch-requirements.txt
  enterprise/redhat/openshift-ai/oneapi/docker/start-notebook.sh
  enterprise/redhat/openshift-ai/oneapi/docker/tensorflow-cpu.Dockerfile
  enterprise/redhat/openshift-ai/oneapi/docker/tensorflow-requirements.txt
  enterprise/redhat/openshift-ai/oneapi/docker/utils/process.sh
Owners: @sharvil10

Fix linter errors
  preset/deep-learning-tensorflow-gpu/demo/tensorflow-distributed/README.md
  test-runner/test_runner.py
Owners: @jafraustro, @jitendra42

python version updated for classical-ml
  classical-ml/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

python version updated for classical-ml tests
  classical-ml/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

jupyterlab requirement updated
  pytorch/jupyter-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

update ipex cpu stack
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/README.md
  pytorch/serving/torchserve-requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update ipex cpu stack (#635)
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/README.md
  pytorch/serving/torchserve-requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update ipex cpu stack
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/README.md
  pytorch/serving/torchserve-requirements.txt
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

change image tag
  pytorch/serving/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update name
  pytorch/serving/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update name (#637)
  pytorch/serving/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

gaudi 1.20.0 notebook images
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.2
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.4
  enterprise/redhat/openshift-ai/gaudi/docker/docker-compose.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/requirements.txt
Owners: @sharvil10

update ipex xpu stack
  python/Dockerfile
  python/docker-compose.yaml
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/ipex-xpu-requirements.txt
  pytorch/serving/README.md
  pytorch/serving/ipex-xpu-requirements.txt
  pytorch/serving/torchserve-cpu-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
  pytorch/torch-xpu-requirements.txt
  pytorch/xpu-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

Revert change
  python/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

fix lint issue
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update ipex xpu stack
  pytorch/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

fix mkdocs
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

fix mkdocs
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update to ipex 2.6.10 xpu (#654)
  python/docker-compose.yaml
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/ipex-xpu-requirements.txt
  pytorch/serving/README.md
  pytorch/serving/ipex-xpu-requirements.txt
  pytorch/serving/torchserve-cpu-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
  pytorch/torch-xpu-requirements.txt
  pytorch/xpu-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

update versions
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

add dummpy test
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update versions
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

Update IPEX 2.6 version (#661)
  pytorch/docker-compose.yaml
  pytorch/serving/tests.yaml
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

fix readme markdown
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10
