Repository intel/ai-containers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jitendra42, @sharvil10, @sramakintel, @jafraustro

Preset containers v2025.0.0: ADD Deep Learning PyTorch* CPU and GPU (#565)
  docs/matrix.md
  docs/scripts/hook.py
  preset/deep-learning-pytorch-cpu/.actions.json
  preset/deep-learning-pytorch-cpu/Dockerfile
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-cpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex-quantization/IntelPytorch_Quantization.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex/ResNet50_Inference.ipynb
  preset/deep-learning-pytorch-cpu/notebooks/ipex/codes_for_ipynb/gpu.patch
  preset/deep-learning-pytorch-cpu/notebooks/ipex/codes_for_py/gpu.patch
  preset/deep-learning-pytorch-cpu/requirements.txt
  preset/deep-learning-pytorch-cpu/tests.yaml
  preset/deep-learning-pytorch-cpu/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning-pytorch-cpu/tests/neural_compressor/run.sh
  preset/deep-learning-pytorch-cpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-pytorch-cpu/venv_requirements.txt
  preset/deep-learning-pytorch-gpu/.actions.json
  preset/deep-learning-pytorch-gpu/Dockerfile
  preset/deep-learning-pytorch-gpu/demo/pytorch-distributed/README.md
  preset/deep-learning-pytorch-gpu/demo/pytorch-distributed/pytorch_mnist.py
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/notebooks/Deep_Learning_Samples_Overview.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex-quantization/IntelPytorch_Quantization.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex/ResNet50_Inference.ipynb
  preset/deep-learning-pytorch-gpu/notebooks/ipex/codes_for_ipynb/gpu.patch
  preset/deep-learning-pytorch-gpu/notebooks/ipex/codes_for_py/gpu.patch
  preset/deep-learning-pytorch-gpu/requirements.txt
  preset/deep-learning-pytorch-gpu/tests.yaml
  preset/deep-learning-pytorch-gpu/tests/intel_extension_for_pytorch/test_ipex.py
  preset/deep-learning-pytorch-gpu/tests/neural_compressor/run.sh
  preset/deep-learning-pytorch-gpu/tests/neural_compressor/test_inc.py
  preset/deep-learning-pytorch-gpu/venv_requirements.txt
Owners: @jitendra42, @jafraustro

address markdown
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update readme
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update stack and readme
  python/Dockerfile
  python/docker-compose.yaml
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/README.md
  pytorch/serving/torchserve-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
  pytorch/tests/tests.yaml
  pytorch/xpu-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

debug torchserve xpu rest
  pytorch/serving/model-archive/ipex_squeezenet.py
  pytorch/serving/model-store/rest-test.sh
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update tp py3.11
  python/.actions.json
  python/Dockerfile
  python/compose.override.yaml
  python/docker-compose.yaml
  pytorch/.actions.json
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/model-store/rest-test.sh
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

change to py3.11
  python/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

add opencl vars
  python/Dockerfile
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update correct image tag
  python/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

fix docs view
  docs/matrix.md
  docs/scripts/hook.py
  preset/deep-learning-jax-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
  preset/deep-learning-tensorflow-cpu/docker-compose.yaml
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
Owners: @jitendra42, @jafraustro

fix image.version in docs,
  preset/classical-ml/.actions.json
  preset/deep-learning-jax-cpu/.actions.json
  preset/deep-learning-pytorch-cpu/.actions.json
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/.actions.json
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
  preset/deep-learning-tensorflow-cpu/.actions.json
  preset/deep-learning-tensorflow-gpu/.actions.json
Owners: @jafraustro

update correct tag
  python/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update serving tag
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

debug only torchserve containers
  pytorch/docker-compose.yaml
  pytorch/serving/model-store/rest-test.sh
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

make few more changes
  python/.actions.json
  python/docker-compose.yaml
  pytorch/.actions.json
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/model-store/rest-test.sh
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

add jax
  mkdocs.yml
Owners: @jitendra42, @sharvil10

update python defaults
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update labels
  python/compose.override.yaml
  pytorch/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

fix docs for preset containers (#567)
  docs/matrix.md
  preset/classical-ml/.actions.json
  preset/deep-learning-jax-cpu/.actions.json
  preset/deep-learning-jax-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-cpu/.actions.json
  preset/deep-learning-pytorch-cpu/docker-compose.yaml
  preset/deep-learning-pytorch-gpu/.actions.json
  preset/deep-learning-pytorch-gpu/docker-compose.yaml
  preset/deep-learning-tensorflow-cpu/.actions.json
  preset/deep-learning-tensorflow-cpu/docker-compose.yaml
  preset/deep-learning-tensorflow-gpu/.actions.json
  preset/deep-learning-tensorflow-gpu/docker-compose.yaml
Owners: @jitendra42, @jafraustro

add docs
  python/docker-compose.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

uncomment other tests
  pytorch/docker-compose.yaml
  pytorch/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

comment torchserve xpu
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

update rolling driver
  python/README.md
  python/docker-compose.yaml
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

remove extra space
  python/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update test names
  python/tests/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

change GID
  pytorch/Dockerfile
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

restore main's rest-test
  pytorch/serving/model-store/rest-test.sh
Owners: @jitendra42, @sramakintel, @sharvil10

add pciutils
  pytorch/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

fix lint issue
  pytorch/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

update table content
  pytorch/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

remove lspci
  pytorch/Dockerfile
Owners: @jitendra42, @sramakintel, @sharvil10

Debug Torchserve XPU (#577)
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/serving/model-store/rest-test.sh
  pytorch/serving/tests.yaml
Owners: @jitendra42, @sramakintel, @sharvil10

Gaudi Notebook Container 1.19.0 update
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.2
  enterprise/redhat/openshift-ai/gaudi/docker/Dockerfile.rhel9.4
  enterprise/redhat/openshift-ai/gaudi/docker/docker-compose.yaml
  enterprise/redhat/openshift-ai/gaudi/docker/install-python310.sh
  enterprise/redhat/openshift-ai/gaudi/docker/install_packages.sh
  enterprise/redhat/openshift-ai/gaudi/docker/requirements.txt
Owners: @sharvil10

update stack and readme for IPEX 2.5.10 xpu (#566)
  mkdocs.yml
  python/.actions.json
  python/Dockerfile
  python/README.md
  python/compose.override.yaml
  python/docker-compose.yaml
  python/tests/tests.yaml
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/requirements.txt
  pytorch/serving/README.md
  pytorch/serving/tests.yaml
  pytorch/serving/torchserve-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
  pytorch/tests/tests.yaml
  pytorch/xpu-requirements.txt
Owners: @jitendra42, @sharvil10, @sramakintel

update readme
  pytorch/serving/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

Update XPU serving doc (#579)
  pytorch/serving/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

update jax
  jax/README.md
  jax/docker-compose.yaml
  jax/requirements.txt
  jax/tests/tests.yaml
Owners: @jitendra42, @sharvil10

Update JAX to 0.5.0 (#580)
  jax/README.md
  jax/docker-compose.yaml
  jax/requirements.txt
  jax/tests/tests.yaml
Owners: @jitendra42, @sharvil10

update tensorflow to 2.15.0.2
  tensorflow/Dockerfile
  tensorflow/README.md
  tensorflow/docker-compose.yaml
  tensorflow/tests/tests.yaml
  tensorflow/xpu-requirements.txt
Owners: @jitendra42, @sramakintel, @sharvil10

remove comma
  tensorflow/README.md
Owners: @jitendra42, @sramakintel, @sharvil10

.github/CODEOWNERS:

*                @jitendra42 @sharvil10
/.github/        @sharvil10 @jitendra42 @sramakintel
/apptainer/      @sramakintel
/classical-ml/   @jitendra42 @sramakintel @sharvil10
/docs/           @jitendra42
/enterprise/     @sharvil10
/preset/         @jafraustro
/python/         @jitendra42 @sramakintel @sharvil10
/pytorch/        @jitendra42 @sramakintel @sharvil10
/tensorflow/     @jitendra42 @sramakintel @sharvil10
/test-runner/    @jitendra42
/workflows/      @sharvil10
